@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap");

* {
  font-family: "Source Sans Pro", sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

html {
  font-size: 65%;
  background-image: linear-gradient(90deg, #101010 40%, #0d001a 100%);
}

.App {
  display: flex;
  height: 100vh;
  width: auto;
  flex-direction: column;
  align-items: center;

}

.heading {
  background: linear-gradient(to right, #ff00cc 0%, #2657eb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-size: 7vw;
  font-family: serif;
  margin: 20px 0 10px;
}

.search-form {
  width: 55vw;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.alert {
  position: absolute;
  top: 4rem;
  background-color: rgb(233, 72, 72);
  width: calc(100% - 7.3rem);
  border-radius: 5rem;
}

.alert h3 {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.search-form input {
  font-size: 1.6rem;
  border: none;
  border-bottom: 0.1rem solid #ccc;
  margin: 0 0.5rem;
  border-radius: 2rem;
  height: 3rem;
}

.search-form input[type="text"] {
  padding: 0 2rem;
  width: 60%;
  color: #555;
}

.search-form input[type="submit"] {
  width: 25%;
  text-transform: uppercase;
  background: #38b3f9;
  color: #fff;
  font-weight: 900;
}

.search-form input[type="submit"]:hover {
  color: #ede3f1;
}

.recipes {
  margin-top: 10px;
  width: 90%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.recipe {
  width: 33rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  background-color: #e0e0ff;
  padding: 1rem;
  position: relative;
  border-radius: 0.3rem;
  box-shadow: 1rem 1rem 2rem #161414;
}

.recipe h2 {
  background-color: rgba(161, 161, 161, 0.7);
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  right: 2.5rem;
  font-size: 2.5rem;
  font-weight: 400;
  text-shadow: 0 0.5rem 0.5rem #555;
  color: #fff;
}

.recipe img {
  border-radius: 0.5rem;
  object-fit: cover;
}

.recipe a {
  font-size: 1.8rem;
  color: #40b48e;
}

.recipe button {
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  height: 3rem;
  background-image: linear-gradient(60deg,
      #FF00CC 0%,
      #5933c4 40%,
      #00bbff 100%);
}

.calories {
  background-color: #101010;
  color: #fff;
  font-size: 1.3rem;
}

.ingredient-list {
  margin-top: 1rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.ingredient-list li {
  margin: 0.5rem 0;
}

.ingredient-text {
  font-size: 1.5rem;
  color: #888;
}

.ingredient-weight {
  color: #40b48e;
  font-size: 1.3rem;
}

@media (max-width: 575px) {
  .heading {
    width: 95vw;
    font-size: 40px;
    text-align: center;
  }

  .search-form {
    height: 40px;
    width: 90vw;
    margin: 2px;
    align-items: center;

  }

  .recipe {
    width: 80vh;
  }

}

@media (max-width: 950.98px) and (min-width: 575px) {
  .heading {
    width: 95vw;
    font-size: 66px;
    text-align: center;
  }

  .recipe {
    width: 35vw;
    margin: 25px 25px;
  }
}